* {
  font-family: Arial, sans-serif;
}
body {
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}

.car-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.car-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.car-list li {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.car-list img {
  width: 300px;
  height: auto;
  object-fit: cover;
}

.car-list .car-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.car-list .car-info button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
}

.car-list .car-info div button {
  margin-right: 10px;
}

/* Media Queries for Mobile Phones */
@media only screen and (max-width: 768px) {
  .car-list {
    padding: 10px;
  }

  .car-list li {
    flex-direction: column;
    margin: 10px 0;
  }

  .car-list img {
    width: 100%;
    height: auto;
  }

  .car-list .car-info {
    padding: 10px;
    text-align: center;
  }

  .car-list .car-info button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
  }
}
